.dropdown-menu{
  background-color: #343A40;
}

.dropdown-menu a{
  color: grey;
}

.dropdown-menu hover {
  background-color: white;
}

body {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 22px;
}

img {
  width: 75%;
}

article {
  padding: 20px;
}

a.btn-lg.top_button {
  margin-top: 20%;
}

a.btn-lg {
  margin-top: 2%;
}

.button_image:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat:no-repeat;
}

.left_image:before{
     background-image : url(../images/arrow_left.png);
}

.right_image:before{
     background-image : url(../images/arrow_right.png);
}

/* Animations */
@-webkit-keyframes Header {
0%   {color: #d92bb7;}
25%  {color: purple;}
50%  {color: indigo;}
75% {color: #ff00bf;}
100% {color: #d92bb7;}
}

article>h1{
  font-size: 3em;
  clear: both;
  text-shadow: darkgrey 2px 2px 2px;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-animation-name: Header;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff00bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tooltip container */
.artooltip {
  position: relative;
  margin-top: 10px;
}

/* Tooltip text */
.artooltip .artooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.artooltip:hover .artooltiptext {
  visibility: visible;
}

p.text1 {
  color: red;
  font-weight: bold;
}
