body > article > section {
  font-size: large;
}

body {
  font-size: 1.4em;
  text-align: center;
}

p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  clear: both;
  text-align: center;
  color: #333;
  text-shadow: darkgrey 2px 2px 2px;
  margin-top: 70px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 99.4%;
    border-radius: 10px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: red}

.dropdown:hover .dropdown-content {
    display: block;
}

img {
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  float: right;
}

h2 {
    text-align: left;
    border-bottom: 1px solid black;
    margin-top: 50px;
}
