section{
  margin-left: 23%;
  margin-right: 23%;
}

h1 {
  font-size: 2em;
  clear: both;
  margin-top: 1px;
  text-align: center;
  color: white;
  text-shadow: darkgrey 2px 2px 2px;
}
h2 {
  border-bottom: 1px solid black;
  margin-top: 50px;
  border-color: white;
}

nav > ul > li > img{
  padding-top: 10px;
  padding-left: 5px
}

nav {
  margin-bottom: 50px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    position: fixed;
    top: 0;
    width: 99.4%;
    border-radius: 10px;
}

body {
  color: white;
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
  font-size: 1.4em;
}

li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: red
}

.dropdown:hover .dropdown-content {
    display: block;
}

.parallax{
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
