body {
  background-image: url("../images/bulb.jpeg");
  /*background-color: #241e20; Color of bulb background */
  color: white;
  font-size: 22px;
}

td > ul > li {
  clear: both;
  padding: 5px;
}

table, th, td {
  border: 2px solid black;
  padding: 5px;
  border-color: white;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left:25%;
  margin-right:25%;
  margin-bottom: 2.5%;
}

thead {
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  color: white;
  font-size: 1.1em;
}

h1 {
  clear: both;
  text-align: center;
  color: white;
  text-shadow: darkgrey 2px 2px 2px;
  border-color: white;
}

h2 {
  border-bottom: 10px double black;
  margin-top: 100px;
  clear: both;
  border-color: white;
}

@-webkit-keyframes Header {
0%   {color: red;}
25%  {color: purple;}
50%  {color: indigo;}
75% {color: #ff00bf;}
100% {color: red;}

}

article>h1{
  font-size: 3em;
  clear: both;
  text-shadow: darkgrey 2px 2px 2px;
  margin-top: 70px;
  text-align: center;
  -webkit-animation-name: Header;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}
